 h1{
              color: white;background-color:coral ;text-align: center;
          }
         
          h2{
               color: white;background-color:chocolate ;text-align: center;
          }
          table{
              background-color: bisque;
          }
          address{
               color: white;
          }
          ol{
               background-color:beige;
          }