h1{
     color: white;background-color:gray;text-align: center;
         }

h1#ken{
     color: white;background-color:black;text-align: center;
         }

 
p {
    color: white;
  }
a{
    color: white;
}

h2{
     color:black;background-color:gold;text-align: center;
          } 

h2#kenta{
     color:black;background-color:rebeccapurple;text-align: center;
          }



          
               
          
